.button{
    /* background: var(--tg-theme-button-color); */
    background-color: rgb(11, 213, 0);
    border-radius: 5px;
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    height: 25px;
}