.button{
    /* background: var(--tg-theme-button-color); */
    background-color: cyan;
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    height: 25px;
}